.AnswerItem {
    border: 1px solid #fff;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.AnswerItem:hover {
    background: rgba(256, 256, 256, 0.2);
    transition: background 0.2s ease-in-out;
}

.AnswerItem.success{
    background: rgba(161, 240, 69, 0.7);
}

.AnswerItem.error{
    background: rgba(240, 87, 108, 0.7);
}