.MenuToggle{
    position: fixed;
    cursor: pointer;
    top: 40px;
    left: 40px;
    z-index: 100;
    transition: opacity, left .22s ease-in;
    color: #fff;
    font-size: 20px;
}

.MenuToggle:hover{
    opacity: 0.7;
}

.MenuToggle.open{
    left: 320px;
}